body{
    background-color: rgb(40, 39, 39);
}

h1{
    position: absolute;
    z-index: -1; 
    transform: translateX(-50%); /* Centraliza corretamente o h1 */
    font-size: 270px; /* Ajuste o tamanho da fonte se necessário */
    transform: rotate(-5deg);
    margin-left: 90px;
    margin-top: 50px;
    color:rgba(197, 213, 213, 0.899) ;
   
}

.titulo {
    font-size: 175px;
    color:azure;
    position: relative;
    top: 50px;
    display:flex;
    justify-content: center;
    transform: rotate(-3deg);

}

.caixinhas {
    color: rgb(213, 203, 211);
}

.div2 {
    margin-top: 125px;
    display: flex;
    justify-content: center;    
    font-size: 30px;
}

.div3 {

    margin-top:75px;
    display: flex;
    justify-content: center;
    
}

.quiz {
    color: rgb(213, 203, 211);
    width: 320px;
    height: 210px;
    border:2px solid azure;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor:pointer;
    text-decoration: none; 
    
}

.quiz:hover {
    transition: background-color 0.3s ease;
    transform: rotate(-2deg);
}

#quiz_container{
   color: azure;
   font-size: 30px;
   display: block;
   justify-content: center;
   align-items: center;
   margin: 120px auto;
   font-family: Arial, Helvetica, sans-serif;
   width:800px;
   height: 400px;
   background-color: rgb(40, 39, 39);
   border: 2px solid #fff;
   padding: 20px;
   text-align: center;
   
}

#questao_container {
    margin-bottom: 35px;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}


.btn_container {
  background-color:rgb(40, 39, 39);
  border-color: #fff;

}

.btn {
    display: block;
    margin: 8px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(40, 39, 39);;
    border-radius: 5px;
    cursor: pointer;
    border-color: #fff;
    width: 230px;
    height: 50px;
}

.button {
    display: block;
    margin: 100px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(40, 39, 39);;
    border-radius: 5px;
    cursor: pointer;
    border-color: #fff;
    width: 230px;
    height: 50px;
}

.btn:hover{
    background-color: rgb(40, 39, 39);
    transition: background-color 0.3s ease;
    transform: rotate(-2deg);
}

#botao_proximo {
    margin-top: 30px;
    width: 230px;
    height: 60px;
}

p{
    color: #fff;
}

.hidden {
    display: none;
}